html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 100%;
}

.robot-body {
  position: absolute;
  bottom: 0;
  width: 320px;
}

.robot-brain {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 46px;
  margin: 0 auto;
  display: none;
}

.robot-head-right,
.robot-head-left {
  position: absolute;
  top: 10px;
  width: 125px;
}

.robot-head-left {
  right: 50%;
}

.robot-head-right {
  left: 50%;
}

.robot:hover .robot-head-left {
  left: 0;
  right: auto;
}

.robot:hover .robot-head-right {
  right: 0;
  left: auto;
}

.robot:hover .robot-brain {
  display: inline;
}
